* {
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 39, 39);
}

#cardList {
  height: 100px;
  width: 800px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  white-space: nowrap;
}

#unbox-area {
  display: flex;
  height: 100% !important;
  justify-content: center;
}

#unbox-area #cardList {
  box-shadow: 0 5px 12px rgb(99, 98, 98);
  border: none !important;
  border-radius: 10px;
}

.card {
  display: inline-block;
  background-color: red;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100px;
  height: 100px;
}

.card>img {
  width: 100px;
  height: 100px;
}

.arrow-down {
  width: 0;
  height: 0;
  z-index: 3050 !important;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: relative;
  left: 23%;
  border-top: 20px solid #f00;
}

.open-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  padding-left: 80px;
}

.btn {
  padding: 10px 25px;
  background-color: rgb(48, 48, 48);
  border: none;
  box-shadow: 0 4px 6px gray;
  border-radius: 10px;
  color: white;
  outline: none;
}

.btn:hover {
  background-color: rgb(75, 75, 75);
  cursor: pointer;
  box-shadow: 0 6px 8px gray;
}

.ui-dialog {
  background-color: rgb(107, 107, 107) !important;
  color: white !important;
  border: none !important;
  width: 600px !important;
  /* Diyalog kutusunun genişliğini ayarla */
  height: auto !important;
  /* Otomatik yükseklik */
  left: 50% !important;
  /* Ortada konumlandır */
  top: 50% !important;
  /* Ortada konumlandır */
  transform: scale(1.8) translate(-25%, -40%) !important;
  /* Tam merkezde tut */
}

#dialog.ui-dialog {
  background-color: rgb(107, 107, 107) !important;
  color: white !important;
  border: none !important;
}

#dialog-msg>img {
  width: 150px;
  height: 150px;
}

#dialog-msg {
  text-align: center;
}

/* Yeni eklemeler */

/* Kart listesinin büyümesi ve dönmesi */
#cardList.animate {
  transform: scale(1.5) rotate(720deg);
  /* Büyüme ve 2 tam tur dönüş */
  transition: transform 1s ease-in-out;
  /* 3 saniyelik animasyon */
}

/* Kartların büyüme sırasında ortalanması */
#unbox-area #cardList.animate {
  position: relative;
  top: 50%;
  transform: translateY(40%) scale(1.7);
}

/* Animasyon bittiğinde geri dönüş */
#cardList {
  transform: scale(1) rotate(0);
  /* Orijinal duruma dön */
  transition: transform 0.5s ease;
  /* Daha hızlı dönüş */
}